{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>{{ form_errors(form) }}</div>


<div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
    {{ form_label(form.fullname) }}
</div>
<div class="">
    {{ form_widget(form.fullname, {'attr': {'class': 'mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
    {{ form_errors(form.fullname) }}
</div>

<div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
    {{ form_label(form.pseudo) }}
</div>
<div class="">
    {{ form_widget(form.pseudo, {'attr': {'class': 'mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
    {{ form_errors(form.pseudo) }}
</div>


<div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
    {{ form_label(form.bio) }}
</div>
<div class="">
    {{ form_widget(form.bio, {'attr': {'class': 'mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
    {{ form_errors(form.bio) }}
</div>

<div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
    {{ form_label(form.birthDate) }}
</div>
<div class="">
    {{ form_widget(form.birthDate, {'attr': {'class': 'mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
    {{ form_errors(form.birthDate) }}
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
